{% extends 'base.html.twig' %}

{% block title %}Question: {{ question }}{% endblock %}

{% block body %}
<h1>{{ question }}</h1>
{# this is a comment #}
<div>
    Eventually, we will print the full question here
</div>

<h2>Answers ({{ answers|length }})</h2>

<ul>
    {% for asnwer in answers %}
        <li>{{ asnwer }}</li>
    {% endfor %}
</ul>
{% endblock %}